<!-- <footer class="footer-toolbar">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <img src="../../../assets/images/attachment.jpg" class="attachment-image">
            </div>
        </div>
        <input type="text" class="form-control" (keyup.enter)="sendMessage(message)" [(ngModel)]="message" placeholder="Type your message..">
        <div class="input-group-append">
            <button class="btn btn-success" type="submit" (click)="sendMessage(message)">
                Send
            </button>
        </div>
    </div>
</footer> -->