/* .example-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
 .rightSideHeaderDiv{ 
    margin: 0 auto;
  }
  .example-fill-remaining-space {
    flex: 1 1 auto;
  }
.mat-button{
    min-width: 54px;
  }


  .responsive-web-app .header-toolbar {
    position: fixed;
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .responsive-sidenav-container {

    flex: 1;
  }
  
  .responsive-web-app .responsive-sidenav-container {
    flex: 1 0 auto;
  }
  .main {
      position: relative;
    }
  .headerClass{
    background-color: black;
    color: white;
  } */


  .header-toolbar{
    position: fixed;
    width: 100%;
    /* background: #929292;
     */
     background-image: linear-gradient(-90deg, #928f8f, #fefeff);
    height: 50px;
    color: white;
  }

  .headerClass{
    padding-top: 10px;
    padding-left: 12px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }
  .headerIconImg{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 30px;
  }