<!-- <div class="example-container" [class.responsive-web-app]="mobileQuery.matches">
  <mat-toolbar  class="header-toolbar headerClass">

    <span>Chat</span>
  </mat-toolbar>
</div> -->
    <!-- <a mat-button [routerLink]="['/home']" matTooltip="Home">Home</a>
    <div class="button-row">
      <a mat-button [routerLink]="['/aboutus']" matTooltip="About Us">About us</a>
    </div>
    <span class="example-fill-remaining-space"></span> -->
    <!-- <img src="../../../assets/images/output-onlinepngtools.png" height="60px">  -->
    <!-- <img src="../../../assets/images/convee_logo.png" height="60px"> -->
    <!-- <span>Power by Convee</span> -->

    <header class="header-toolbar">
      <div class="row">
          <img src="{{localBotIcon}}" class="headerIconImg" alt="" title="" />
          <!-- <img src="assets/images/clozio.png" class="headerIconImg" alt="" title="" /> -->
          <h5 class="headerClass">
              Chat
          </h5>
      </div>
      <!-- <h5 class="headerClass">
          Chat
      </h5> -->
          
     
        <!-- <span>Chat</span> -->
    </header>